<% var variable = 'variable'; %>

<h1><%= name %></h1>
<p><%= description %></p>
<h5><%= variable %></h5>
<hr/>
<% for( var i = 0; i < 10; i++ ) { %>
    <h2>The Square of <%= i %> is <%= i * i %><h2>
<% } %>