!!!5
html
    head
        title haml test
        style
            *{ margin: 10px; padding: 0px }
            h1{
                color:Red;
            }
    body
        //Jade format
        #header
            h1 index.haml
            h2 kim.jinhoon
            h3 #{h3}
            h4= desc
        hr
        .artice
            a(href = 'http://www.naver.com', data-test = 'multiple attribute' ) go!
        hr
        - for( var i = 0; i < 10; i++ ){
            p
                h5 #{i} x #{i} = #{i*i}
        - }
